.container {
  background-color: #171717;
  border-radius: 10px;
  width: 100%;
  height: calc(75vh - 32px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .subContainer {
    display: flex;
    justify-content: space-around;

    .subContainer_button {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
  }
}