.inputText {
  border: unset;
  border-radius: 5px;
  background-color: #5D677C;
  box-shadow: 0px 2px 4px #2d2b2b9f inset;
  width: 90%;
  height: 3rem;
  font-size: 2rem;
  text-align: center;
  color: antiquewhite;
}