.removeButton {
  align-self: center;
  background-color: #d65151;
  border-radius: 10px;
  box-shadow: 2px 4px 4px #0000009f;
  color: #272626;
  cursor: pointer;
  font-size: 1.25rem;
  padding: 16px;
  width: 150px;
}